<div class="jumbotron">
    <h1 class="display-4 cmp-promo__title">${properties.title}</h1>
    <p class="lead">
        <a class="btn btn-primary btn-lg" href="${properties.link}" role="button" onclick="buttonClicked()">${properties.ctalabel}</a>
    </p>
    <div class="cmp-promo__title" data-sly-use.model="com.myapp.web.core.models.PromoModel" >
        <p>${model.promoTitle}</p>
    </div>



    <div class="cmp-promo__title_clientlib">
        ${'promo.btn.label' @ i18n}

        <!-- /*  This is my comment. ${properties.title}  */-->
        <sly data-sly-include="head.html"/>

        <div data-sly-text="${properties.title}" > MY BODY</div>


        <div data-sly-test="${properties.title}"> Test true </div>

        <!-- /*  Data sly repeat */-->

        <ul data-sly-repeat="${currentPage.listChildren}">
            <li>${item.name}</li>
        </ul>

        <!-- /*  Data sly list */-->

        <ul data-sly-list="${currentPage.listChildren}">
            <li>${item.name}</li>
        </ul>

        <div data-sly-resource="${ 'title' @resourceType='myAppWeb/components/title'}" />
    </div>

</div>
